# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/
*.sln.iml

# OS junk
.DS_Store
Thumbs.db

# Game DLL references (don't commit copyrighted game assemblies)
lib/
*.dll

# Logs from testing
*.log
LogOutput.log

# Assets
nexus_assets/